<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Search For Images and Videos</h1>
        <form method="GET" action="/">
            <input type="text" name="searchterm" placeholder="Enter search term" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <div>
        {% if images %}
            <h2>Images</h2>
            <div>
                {% for image in images %}
                    <img src="{{ image }}" width="640" height="360" lt="Image">
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <div> 
        {% if videos %}
            <h2>Videos</h2>
            <div>
                {% for video in videos %}
                    <video width="640" height="360" controls>
                        <source src="{{ video['mp4'] }}" type="video/mp4">
                    </video>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <!-- Display unique tags as paragraph -->
    <div>
        {% if unique_tags %}
            <h2>Unique Tags</h2>
            <p>
                {% for tag in unique_tags %}
                    {{ tag }}{% if not loop.last %} {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>

</body>
</html>