<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Search For Images and Videos</h1>
        <form method="GET" action="/">
            <input type="text" name="searchterm" placeholder="Enter search term" required>
            <button type="submit">Search</button>
        </form>
    </div>
    <!--Could add filters for user to select, like number of results for each, to return only vector/photo/video/ai/etc.
     and how it is displayed(slideshow, grid, etc)-->
    <!--Could add a connection for each result to display more info, like author and souce, and features
         like ability to download img, enlarge image, and add image processing that can also be downloaded  -->
    {% if term %}
    <div>
        {% if photos %}
            <h2>Photographs of "{{term}}"</h2>
            <div>
                {% for photo in photos %}
                    <img src="{{ photo }}" width="320" height="240" lt="Image">
                {% endfor %}
            </div>
        {% else %}
        <h1>No photographs found for {{term}}.</h1>
        {% endif %}
    </div>
    <div>
        {% if illustrations %}
            <h2>Illustrations of "{{term}}"</h2>
            <div>
                {% for ill in illustrations %}
                    <img src="{{ ill }}" width="320" height="240" lt="Image">
                {% endfor %}
            </div>
        {% else %}
        <h1>No illustrations found for {{term}}.</h1>
        {% endif %}
    </div>
    <div> 
        <!-- videos has more data like author and url that might be used-->
        {% if videos %}
            <h2>Videos Results of "{{term}}"</h2>
            <div>
                {% for video in videos %}
                    <video width="320" height="240" controls>
                        <source src="{{ video['mp4'] }}" type="video/mp4">
                    </video>
                {% endfor %}
            </div>
        {% else %}
            <h1>No video results found for "{{term}}"".</h1>
        {% endif %}
    </div>
    {% endif %}
    <!-- Display unique tags as paragraph -->
    <div>
        {% if unique_tags %}
            <h2>Unique Tags</h2>
            <p>
                {% for tag in unique_tags %}
                    {{ tag }},{% if not loop.last %} {% endif %}
                {% endfor %}
            </p>
        {% endif %}
    </div>

</body>
</html>