<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Search</title>
</head>
<body>
    <h1>AI Images</h1>
    <div id="imageHolder" style="display: flex; justify-content: space-around; align-items: center;">
        
    </div>

    <script>
      async function fetchImages() {
        try {
          // const response = await fetch('/api/aiImages');
          // const data = await response.json();
          // console.log(data);
          const data = [
            "https://cdn.discordapp.com/attachments/1181170702292897793/1236502891913543781/invite_1080035826051854356_best_bot_ever.png?ex=66383e8e&is=6636ed0e&hm=295ce2f972a1d4cd5df4f2b69cd72ca5acb80f3eab80c2b4c47d7c2e1b2ffcfc&",
            "https://cdn.discordapp.com/attachments/1181170702292897793/1236502925426032690/invite_1080035826051854356_best_bot_ever.png?ex=66383e96&is=6636ed16&hm=79cb348f3d4c25585c5d8814d7c4bbd31c4d628307ea90d94395df28d47d4e33&",
            "https://cdn.discordapp.com/attachments/1181170702292897793/1236500227385589770/invite_1080035826051854356_best_bot_ever.png?ex=66383c13&is=6636ea93&hm=8d6ab0912affa2a31184cfc518a2ff77b81f4c10e00508f609681d41fdf28e64&",
            "https://cdn.discordapp.com/attachments/1181170702292897793/1236500175627878420/invite_1080035826051854356_best_bot_ever.png?ex=66383c06&is=6636ea86&hm=aebc7ebb70d8a94ba7f60621b027824ec6545d45513be45d9bcc2eac1911ba24&"
          ];

          const imageDiv = document.getElementById('imageHolder');
          data.forEach(imageURL => {
            const img = document.createElement('img');
            img.src = imageURL;
            img.style.width = '200px';
            imageDiv.appendChild(img);
          });
        } catch (error) {
          console.error(error);
        }
      }

      window.addEventListener('load', fetchImages);
    </script>
</body>
</html>